<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>update_email.html</title>
    
  </head>
  <body>
    <h1>Ihre Flugbenachrichtigung</h1>
    <p>
      Abflugzeitpunkt Ihres Fluges <%= @flight.name %> hat sich geändert
    </p>                                                  
    <p>
      Voraussichtlicher Abflug: <%= @flight.actual_departure %>
    </p>
    <p>
      Um Ihr Abo zu löschen klicken Sie folgenden Link: <%= link_to 'Flug nicht mehr überwachen!', unsubscribe_url(:id => @flight.subscription.id, :d => @flight.subscription.del_token) %>
    </p>
  </body>                                                      
</html>