<%= form_tag(:action => "search") do %>
  <%= label_tag(:query, "Flugnummer:") %>
  <%= text_field_tag(:query)  %> 
  <div class="actions">
    <%= submit_tag "Suchen", :id => "submit", :name => "submit", :class => "form_submit btn primary", :disabled => false, :disable_with => "Please wait..." %>
  </div>
  
<% end -%>