<!DOCTYPE html>
<html>
<head>
  <title>Flightnotify</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div class="container_12">
    <p><%= session.inspect %>                 
    </p>
    <%= yield %>         
  </div>
</body>
</html>
